@mixin heart {
    opacity: 0;
    transition: opacity 500ms;
    &:hover {
        opacity: 1;
    }
}

/*@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner {
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
    &::before {
        animation: 3s linear infinite spinner;
        border: solid 3px #eaeaea;
        border-bottom-color: #9356DC;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: fixed;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }
}*/
