.location {
    background-color: $location_background-color;
    box-shadow: 0 0.3125rem 0.4375rem -0.4375rem $footer_background-color inset;
    div {
        display: flex;
        justify-content: center;
        span, p {
            color: $footer_background-color;
        }
        span {
            padding-top: 1rem;
        }
        p {
            padding: 1rem 1.8125rem 0.9375rem 1.0625rem;
        }
    }
}

.presentation {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4375rem 2.125rem 3.5625rem;
    h2, p {
        text-align: center;
    }
    h2 {
        padding: 0 2.3125rem 0.75rem;
    }
    p {
        color: $footer_background-color;
        font-size: 1.125rem;
        font-weight: 300;
        padding: 0 0 1.9375rem 0;
    }
    button {
        background: linear-gradient($secondary_color, $primary_color);
        border: none;
        border-radius: 11% / 50%;
        box-shadow: 0 0.625rem 0.625rem -0.3125rem $button_shadow_color;
        color: $secondary_text-color;
        font: 400 0.975rem $text_font;
        padding: 1rem 1.5rem;
        min-width: max-content;
    }
}

.operation {
    padding: 3rem 1.25rem 2.8125rem;
    h2 {
        margin-bottom: 1.75rem;
    }
    ol {
        counter-reset: step;
        padding-left: 0.8125rem;
    }
    li {
        background-color: $background-color;
        border-radius: 1.25rem;
        box-shadow: 0 0.1875rem 0.625rem 0.125rem $card_shadow_color;
        counter-increment: step;
        display: flex;
        margin-bottom: 1.4375rem;
        padding: 1.6875rem 1.5rem 1.4375rem 2.0625rem;
        span {
            color: $operation_icon_color;
            display: inline-block;
            position: relative;
            right: 1.5rem;
            transform-origin: 0 0;
        }
        p {
            align-items: center;
            display: flex;
            font-weight: 500;
        }
        &:nth-of-type(1) {
            span {
                padding-top: 0.0625rem;
                transform: scale(1.3,1.25);
            }
            p {
                margin-left: 0.375rem;
            }
        }
        &:nth-of-type(2) {
            span {
                padding-top: 0.0625rem;
                transform: scale(1,1.25);
            }
        }
        &:nth-of-type(3) {
            span {
                display: block;
                padding-top: 0.1875rem;
                transform: scale(0.93,1.125);
            }
            p {
                position: relative;
                right: 0.203125rem;
            }
        }
        &::before {
            align-items: center;
            background-color: $primary_color;
            border-radius: 50%;
            color: $secondary_text-color;
            content: counter(step);
            display: flex;
            font-family: $text_font, sans-serif;
            font-size: 0.8125rem;
            max-height: 1.5rem;
            min-height: 1.5rem;
            justify-content: center;
            position: relative;
            right: 2.875rem;
            max-width: 1.5rem;
            min-width: 1.5rem;
        }
        &:hover {
            background-color: $hover_background-color;
            span {
                color: $primary_color;
            }
        }
    }
}

.restaurants {
    background-color: $background-color;
    padding: 3.375rem 1.25rem 2.875rem;
    h2 {
        margin-bottom: 1.375rem;
    }
    a {
        background-color: $secondary_text-color;
        border-radius: 0.9375rem;
        box-shadow: 0 0.625rem 0.625rem -0.25rem $card_shadow_color;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.125rem;
        overflow: hidden;
        position: relative;
        img {
            min-width: 21rem;
            max-width: 100%;
            height: 10.875rem;
            object-fit: cover;
        }
        strong, p:nth-of-type(1) {
            padding: 0 0.8125rem;
        }
        strong {
            font-size: 1.125rem;
            margin: 1rem 0 0.25rem 0;
        }
        p:nth-of-type(1) {
            font-size: 1,0625rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }
        p:nth-of-type(2), button {
            position: absolute;
        }
        p:nth-of-type(2) {
            background-color: $tertiary_color;
            color: $tiertiary_text-color;
            font-size: 0.875rem;
            padding: 0.4375rem 0.75rem 0.375rem;
            right: 0.75rem;
            top: 0.8125rem;
            border-radius: 0.125rem;
        }
        button {
            background-color: unset;
            border: unset;
            bottom: 2.0625rem;
            font: unset;
            padding: 0;
            right: 1.6875rem;
            .far{
                opacity: 1;
                transform: scale(1.4375, 1.5625);
            }
            .fas {
                opacity: 0;
                transform: scale(1.4375, 1.5625);
            }
            span {
                width: 1.125rem;
            }
            &:hover {
                .far {
                    opacity: 0;
                    transform: scale(1.4375, 1.5625);
                }
                .fas {
                    opacity: 1;
                    transform: scale(1.4375, 1.5625);
                }
                span {
                    background: linear-gradient($primary_color, $secondary_color);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }
        }
    }
    a[href*="la_palette_du_gout"], a[href*="a_la_francaise"] {
        img {
            object-position: center -3.125rem;
        }
    }
    a[href*="la_note_enchantee"] {
        img {
            object-position: center -9.5rem;
        }
    }
    a[href*="le_delice_des_sens"] {
        img {
            object-position: center -3.375rem;
        }
    }
}
