.img_menu {
    img {
        height: 17.1875rem;
        object-fit: cover;
        width: 100%;
    }
}

.menu {
    background-color: $background-color;
    border-radius: 2.5rem 2.5rem 0 0;
    display: flex;
    flex-direction: column;
    margin-bottom: -3.6875rem;
    padding: 1.9375rem 0.875rem 3.625rem;
    position: relative;
    top: -3.6875rem;
    > div {
        padding: 0 1.5rem 1.875rem 0.375rem; 
        position: relative;
        h2 {
            font-size: 1.75rem;
        }
        span {
            margin-left: auto;
            position: absolute;
            right: 1.75rem;
            top: 0.6875rem;
            transform: scale(1.4375, 1.5625);
        }
    }
    h4 {
        font-weight: 300;
        margin: 0 0 1.4375rem 0.375rem;
        position: relative;
        &::before {
            border-bottom: solid 0.1875rem $tertiary_color;
            content: "";
            display: flex;
            height: 0;
            position: absolute;
            top: 1.5rem;
            width: 2.5rem;
        }
    }
    ul {
        margin-bottom: 2.125rem;
    }
    li {
        background-color: $secondary_text_color;
        border-radius: 0.9375rem;
        box-shadow: 0 0.625rem 0.625rem -0.25rem $card_shadow_color;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.875rem;
        padding: 0.75rem 1.4375rem 0.75rem 0.6875rem;
        div {
            display: flex;
            flex-direction: column;
            padding-right: 0.75rem;
            strong {
                font-weight: 500;
                font-size: 1.125rem;
                margin-bottom: 0.3125rem;
            }
            p {
                color: $footer_background-color;
                font-size: 0.9375rem;
                font-weight: 300;
            }
        }
        > strong {
            align-items: flex-end;
            color: $footer_background-color;
            display: flex;
            font-size: 0.9375rem;
        }
    }
    button {
        background: linear-gradient($secondary_color, $primary_color);
        border-radius: 13% / 50%;
        border: none;
        box-shadow: 0 0.625rem 0.625rem -0.3125rem $button_shadow_color;
        color: $secondary_text_color;
        font: 400 0.975rem $text_font;
        margin: 0 auto;
        min-width: max-content;
        padding: 1rem 3.125rem;
    }
}

.menu {
    h4:nth-of-type(1) {
        margin-bottom: 1.375rem;
    }
    ul:nth-of-type(2) {
        li {
            margin-bottom: 1rem;
        }
        margin-bottom: 2.75rem;
    }
    ul:nth-of-type(3) {
        li:nth-of-type(2) {
            margin-bottom: 1rem;
        }
        margin-bottom: 2rem;
    }
}