@keyframes icon_rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner {
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
    &::before {
        animation: 3s linear infinite spinner;
        border: solid 3px #eaeaea;
        border-bottom-color: #9356DC;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: fixed;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }
}*/
a {
  color: inherit;
  text-decoration: none;
}

.btn {
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  box-shadow: 0 0.625rem 0.625rem -0.3125rem #bfbfbf;
  color: white;
  cursor: pointer;
  font: 400 0.975rem "Roboto", sans-serif;
  min-width: max-content;
  position: relative;
  z-index: 1;
}
.btn:hover .btn__light {
  opacity: 1;
}
.btn__light {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.btn__light {
  background: linear-gradient(#ff93e1, #a16be0);
  border-radius: inherit;
  bottom: 0;
  box-shadow: 0 0.125rem 0.625rem -0.0625rem #adadad;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

h1, h2, h3, h4, ol, p, ul {
  margin: 0;
  padding: 0;
}

h1, h3, .menu h2 {
  font-family: "Shrikhand", cursive;
  font-weight: unset;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

li {
  list-style-type: none;
}

strong {
  font-weight: bold;
}

body {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
}
body .wrapper {
  width: 100%;
}
body header {
  position: relative;
}
body header span {
  color: #353535;
  left: 1.4375rem;
  position: absolute;
  top: 1.625rem;
  transform: scale(calc(17/14), calc(18/16));
}
body header h1 {
  font-size: 1.875rem;
  padding: 0.875rem 0 0.3125rem;
  text-align: center;
}
body footer {
  background-color: #353535;
  color: white;
  padding: 1.375rem 1.5rem 1.6875rem 1.5rem;
}
body footer h3 {
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
}
body footer li {
  display: flex;
  font-size: 0.9375rem;
  margin-bottom: 0.5rem;
}
body footer span {
  margin-right: 0.625rem;
}
body footer li:nth-of-type(1) span {
  transform: scale(calc(12/12.19), calc(13/15));
}
body footer li:nth-of-type(2) span {
  transform: scale(calc(12/18.75), calc(13/15));
  position: relative;
  right: 0.125rem;
  width: 1rem;
}
body footer li:nth-of-type(3), body footer li:nth-of-type(4) {
  font-weight: 300;
}

.location {
  background-color: #eaeaea;
  box-shadow: 0 0.3125rem 0.4375rem -0.4375rem #353535 inset;
  display: flex;
  justify-content: center;
}
.location span, .location p {
  color: #353535;
}
.location span {
  padding-top: 1rem;
}
.location p {
  padding: 1rem 1.8125rem 0.9375rem 1.0625rem;
}

.presentation {
  align-items: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 2.4375rem 2.125rem 3.5625rem;
}
.presentation h2, .presentation p {
  text-align: center;
}
.presentation h2 {
  padding: 0 2.3125rem 0.75rem;
}
.presentation p {
  color: #353535;
  font: 300 1.125rem "Roboto", sans-serif;
  padding-bottom: 1.9375rem;
}
.presentation .btn {
  border-radius: 11%/50%;
  padding: 1rem 1.5rem;
}

.operation {
  padding: 3rem 1.25rem 2.8125rem;
}
.operation h2 {
  margin-bottom: 1.75rem;
}
.operation ol {
  counter-reset: step;
  padding-left: 0.8125rem;
}
.operation li {
  background-color: #f6f6f6;
  border-radius: 1.25rem;
  box-shadow: 0 0.1875rem 0.625rem 0.125rem #e1e1e1;
  counter-increment: step;
  display: flex;
  margin-bottom: 1.4375rem;
  padding: 1.6875rem 1.5rem 1.4375rem 2.0625rem;
}
.operation li span {
  color: #7e7e7e;
  display: inline-block;
  position: relative;
  right: 1.5rem;
  transform-origin: 0 0;
}
.operation li p {
  align-items: center;
  display: flex;
  font-weight: 500;
}
.operation li:nth-of-type(1) span {
  padding-top: 0.0625rem;
  transform: scale(1.3, 1.25);
}
.operation li:nth-of-type(1) p {
  margin-left: 0.375rem;
}
.operation li:nth-of-type(2) span {
  padding-top: 0.0625rem;
  transform: scale(1, 1.25);
}
.operation li:nth-of-type(3) span {
  display: block;
  padding-top: 0.1875rem;
  transform: scale(0.93, 1.125);
}
.operation li:nth-of-type(3) p {
  position: relative;
  right: 0.203125rem;
}
.operation li::before {
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  content: counter(step);
  display: flex;
  font: 0.8125rem "Roboto", sans-serif;
  justify-content: center;
  max-height: 1.5rem;
  max-width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  position: relative;
  right: 2.875rem;
}
.operation li:hover {
  background-color: #f5edfd;
}
.operation li:hover span {
  color: #9356dc;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 3.375rem 1.25rem 2.875rem;
}
.restaurants h2 {
  margin-bottom: 1.375rem;
}
.restaurants a {
  background-color: white;
  border-radius: 0.9375rem;
  box-shadow: 0 0.625rem 0.625rem -0.25rem #e1e1e1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.125rem;
  overflow: hidden;
  position: relative;
}
.restaurants a img {
  height: 10.875rem;
  min-width: 21rem;
  object-fit: cover;
  width: 100%;
}
.restaurants a > p {
  background-color: #99e2d0;
  border-radius: 0.125rem;
  color: #008769;
  font-size: 0.875rem;
  padding: 0.4375rem 0.75rem 0.375rem;
  position: absolute;
  right: 0.75rem;
  top: 0.8125rem;
}
.restaurants a > div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 1rem 0.8125rem;
}
.restaurants a > div .menu_text {
  display: flex;
  flex-direction: column;
}
.restaurants a > div .menu_text strong {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}
.restaurants a > div .menu_text p {
  font: 300 1.0625rem "Roboto", sans-serif;
}
.restaurants a > div .menu_icons {
  height: 1.5625rem;
  margin: 0.3125rem 0 0.9375rem;
  position: relative;
  width: 1.4375rem;
}
.restaurants a > div .menu_icons span {
  position: absolute;
  transform: scale(1.4375, 1.5625);
  transform-origin: 0 0;
}
.restaurants a > div .menu_icons .far {
  opacity: 1;
}
.restaurants a > div .menu_icons .far:hover {
  opacity: 0;
}
.restaurants a > div .menu_icons .fas {
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.restaurants a > div .menu_icons .fas:hover {
  opacity: 1;
}
.restaurants a[href*=la_palette_du_gout] img, .restaurants a[href*=a_la_francaise] img {
  object-position: center -3.125rem;
}
.restaurants a[href*=la_note_enchantee] img {
  object-position: center -9.5rem;
}
.restaurants a[href*=le_delice_des_sens] img {
  object-position: center -3.375rem;
}

.menu_img img {
  height: 17.1875rem;
  object-fit: cover;
  width: 100%;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 2.5rem 2.5rem 0 0;
  display: flex;
  flex-direction: column;
  margin-bottom: -3.6875rem;
  padding: 1.9375rem 0.875rem 3.625rem;
  position: relative;
  top: -3.6875rem;
}
.menu > div {
  padding: 0 1.5rem 1.875rem 0.375rem;
  position: relative;
}
.menu > div h2 {
  font-size: 1.75rem;
}
.menu > div span {
  margin-left: auto;
  position: absolute;
  right: 1.75rem;
  top: 0.6875rem;
  transform: scale(1.4375, 1.5625);
}
.menu h4 {
  font-weight: 300;
  margin: 0 0 1.4375rem 0.375rem;
  position: relative;
}
.menu h4::before {
  border-bottom: solid 0.1875rem #99e2d0;
  content: "";
  display: flex;
  height: 0;
  position: absolute;
  top: 1.5rem;
  width: 2.5rem;
}
.menu ul {
  margin-bottom: 2.125rem;
}
.menu li {
  background-color: white;
  border-radius: 0.9375rem;
  box-shadow: 0 0.625rem 0.625rem -0.25rem #e1e1e1;
  cursor: pointer;
  display: flex;
  margin-bottom: 0.875rem;
  overflow: hidden;
}
.menu li div {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  min-width: calc(100% - 4.5rem);
}
.menu li div strong, .menu li div p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu li div strong {
  font: 500 1.125rem "Roboto", sans-serif;
  margin-bottom: 0.3125rem;
}
.menu li div p {
  font-weight: 300;
}
.menu li div p, .menu li > strong {
  color: #353535;
  font-size: 0.9375rem;
}
.menu li > strong {
  align-items: flex-end;
  display: flex;
  padding: 0.75rem 1.375rem 0.75rem 0;
  min-width: 1.625rem;
}
.menu li span {
  align-items: center;
  background-color: #99e2d0;
  color: white;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-width: 3.75rem;
}
.menu li > strong, .menu li span {
  transform: translate(0, 0);
}
.menu li > strong {
  transition: transform 330ms 70ms ease-in-out;
}
.menu li span {
  transition: transform 400ms ease-in-out;
}
.menu li:hover > strong, .menu li:hover span {
  transform: translate(-3.75rem, 0);
}
.menu li:hover span::before {
  animation: icon_rotate 400ms ease-in-out;
}
.menu button {
  border-radius: 13%/50%;
  margin: 0 auto;
  padding: 1rem 3.125rem;
}

.menu h4:nth-of-type(1) {
  margin-bottom: 1.375rem;
}
.menu ul:nth-of-type(2) {
  margin-bottom: 2.75rem;
}
.menu ul:nth-of-type(2) li {
  margin-bottom: 1rem;
}
.menu ul:nth-of-type(3) {
  margin-bottom: 2rem;
}
.menu ul:nth-of-type(3) li:nth-of-type(2) {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
