$primary_color: #9356dc;
$secondary_color: #ff79da;
$tertiary_color: #99e2d0;

$background-color: #f6f6f6;
$footer_background-color: #353535;
$hover_background-color: #f5edfd;
$location_background-color: #eaeaea;

$operation_icon_color: #7e7e7e;

$text_color: black;
$secondary_text-color: white;
$tiertiary_text-color: #008769;

$button_shadow_color: #bfbfbf;
$card_shadow_color: #e1e1e1;

$text_font: 'Roboto';
$title_font: 'Shrikhand';
